body{
  margin: 0px;
  background-color: #e6e6e6;
}

#Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#header {
  width: 100%;
  background-color: #333333;
  margin-bottom: 15px;
}

#inner-header {
  max-width: 1000px;
  margin: auto;
  /*background-color: #1a1a1a;*/
  overflow: hidden;
  color: white;
}

#Main-content {
  width: 100%;
  margin: auto;
  max-width: 1000px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: white;

}

#footer {
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  background-color: #4d4d4d;
  
}

#overskrift1 {
  text-align: center;
}

#menubar {
  max-width: 1000px;
  float: left;
  height: 50px;
  text-align: center; 
  margin: 0 auto;
}

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 500px;
}

ul#menu li a {
    display: block;
    float: left;
    text-decoration: none;
    padding: 14px 16px;
}

ul#menu li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: white;
}



#week-table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  margin-bottom: 0px;
  max-width: 1000px;
}
table thead tr th {
  background: #626E7E;
  color: #d1d5db;
  padding: 0.5em;
  overflow: hidden;
}

table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}

table tbody tr {
  background: #d1d5db;
}
table tbody tr:nth-child(odd) {
  background: #c8cdd4;
}
table tbody tr:nth-child(3n+0) td {
  border-bottom: 1px solid #626E7E;
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #626E7E;
  position: relative;
  height: 32px;
}
table tbody tr td:last-child {
  border-right: 1px solid #626E7E;
}
table tbody tr td.hour {
  font-size: 1.8em;
  padding: 0;
  color: #626E7E;
  background: #fff;
  border-bottom: 1px solid #626E7E;
  min-width: 80px;
}
table tbody tr td.hour span {
  display: block;
}