body{
  margin-top: 50px;
  background-color: #e6e6e6;
  font-family: Arial, Georgia, Serif, Times;
}

#myAdminTable table,th,td {
    border: 1px solid black;
}

#Main-content {
  width: 100%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 1000px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #FFFFFF;
}

#footer {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  background-color: #4d4d4d;
  position:absolute;
  bottom:0;
  width:100%;
}
  .copyright{
  	opacity:0.5;
  	font-size:12px;
  	text-transform:uppercase;
  	color:#FFF;
  	text-align:right;
  }

#overskrift1, #overskrift2 {
  text-align: center;
}

#dropdownmenu{
  padding-bottom: 20px;
}
a {
  color: white;
}

/* table stylezzz*/
table{
  border-collapse:collapse;
  border-spacing:0;
  width:75%;
  display:table
  border:1px solid #ccc
}

table tr{
  border-bottom:1px solid #ddd
}

table tr:nth-child(odd){
  background-color:#fff
}

table tr:nth-child(even){
  background-color:#f1f1f1
}

table td, table th{
  padding:8px 8px;
  display:table-cell;
  text-align:left;
  vertical-align:top
}

table th:first-child,.table td:first-child{
  padding-left:16px
}

.thead, .thead:hover{
  color:#000!important;
  background-color: #d4d4d4 !important
}
table tr:hover {
  background-color: #ababab;
}
 #overskrift1{
   margin-top: 20;
 }

 #btn {
   margin-top: 10px;
   margin: auto;
 }

#spacing{
  padding-bottom: 10px;
  margin-top: 10px;
}
.page-header{
	border:0;
  margin-top: 20;
	margin-bottom:0;
	padding:0;
}

.page-header{
	margin-bottom:0;
	border-bottom:0;
	padding-bottom:0;
}
/* navbar */
.navbar{
	min-width:100%;
	margin:0 -15px 15px -15px;

	background:#838383;
	border-radius:0;
	border:0;
	box-shadow:10px 15px 10px rgba(0,0,0,0.5);
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	background:#414141; /*forside color*/
	padding-left:30px;
	padding-right:30px;
	margin-right:15px;
	border-right:solid 0px #FFF;

	color:#FFF;
	font-weight:600;
	cursor:default;
}
.navbar-default .navbar-nav>li>a{
	background:##414141;
	border-bottom:solid #415e21 0px;
	margin-bottom:-5px;
	transition: border-bottom 0.3s ease-in-out; /* Animasjon på border */
	transform: translateZ(0); /* Gjør animasjonen mer smooth */

	color:#FFF;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	background:#e86764;
	border-bottom:solid #FFF 5px;

	color:#FFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background:#e86764;
	border-bottom:solid 5px #FFF;

	color:#FFF;
}
.navbar-default .navbar-toggle{border:0; margin-right:25px;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle{background:#FFF;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle-collapsed{background:#EEE;}

/* Følgende vil skje når nettleservinduet er < 768px bredt. */
@media screen and (max-width:768px){
	body{padding-top:50px;} /* Gir plass til fixed navbar på topp */
	.container{background:rgba(255,255,255,1);}
	.top-container{background:rgba(255,255,255,0.4);}
	#logo a.logo{margin:auto;} /* Midtstiller logo. */
	.navbar{margin-left:0;box-shadow:0 0 0 rgba(0,0,0,0);}
	.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand{border-right:0;}
	.navbar-default .navbar-nav>li>a{ /* Fjerner animasjoner */
		border-bottom:none;
		margin-bottom:0;
		transition:none;
		transform:none;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
		border:none;
		margin-bottom:0;
	}
